<div class="demo/CatalogLineItem" >
  <span>
    <img data-dojo-attach-point="partNumberImageNode" src="resources/images/imageComingSoon_small.gif"/>
  	<img data-dojo-attach-point="partNumberThumbnailNode" src="resources/images/imageComingSoon_small.gif"/>
  	<div data-dojo-attach-point="brandCodeNode"></div>
    <div data-dojo-attach-point="partNumberDisplayNode"></div>
  	<div data-dojo-attach-point="partNumberDescriptionNode"></div>
  	<div data-dojo-attach-point="suggestedOrderQtyNode"></div>
  </span>
</div>
