<div class="demo/CatalogLineItem" >
  <div data-dojo-attach-point="partNumberDisplayNode"></div>
	<div data-dojo-attach-point="partNumberDescriptionNode"></div>
	<div data-dojo-attach-point="suggestedOrderQtyNode"></div>
	<div data-dojo-attach-point="shortDescriptionNode"></div>
	<div data-dojo-attach-point="brandCodeNode"></div>
	<div data-dojo-attach-point="partNumberNode"></div>
	<div data-dojo-attach-point="imgOrientationIdNode"></div>
	<img data-dojo-attach-point="partNumberImageNode"/>
	<img data-dojo-attach-point="partNumberThumbnailNode" src="resources/images/imageComingSoon_small.gif"/>
	<div data-dojo-attach-point="primaryImageNode"></div>
</div>
